<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="NFinal.URLRewriter.Config.RewriterConfigSerializerSectionHandler"/>
  </configSections>
  <connectionStrings>
    <!--<add name="tiaojiu" connectionString="Server=localhost;Database=tiaojiu;Uid=root;Pwd=hayiaf102030;" providerName="MySql.Data.MySqlClient"/>
    <add name="abc" connectionString="DataSource=D:\webApp\Da-net\weixin\wedongli\choujiang_test\data\abc.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite"/>
    <add name="dtcmsdb3" connectionString="Server=.\SQLEXPRESS;Database=DTcmsdb3;Uid=sa;Pwd=hayiaf;" providerName="System.Data.SqlClient"/>-->
    <add name="dada" connectionString="Data Source==(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=DADA)));User Id=sa;Password=hayiaf;" providerName ="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
  </system.serviceModel>
  <appSettings>
    <add key="Apps" value="App"/>
    <add key="AutoGeneration" value="false"/>
  </appSettings>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/Index.html</LookFor>
        <SendTo>~/App/IndexController/Index.htm</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.webServer>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
    <handlers>
      <remove name="aspq-ISAPI-4.0_64bit"/>
      <remove name="aspq-ISAPI-4.0_32bit"/>
      <remove name="aspq-Integrated-4.0"/>
      <remove name="ASPClassic"/>
      <remove name="vbhtml-ISAPI-4.0_64bit"/>
      <remove name="vbhtml-ISAPI-4.0_32bit"/>
      <remove name="vbhtml-Integrated-4.0"/>
      <remove name="vbhtm-ISAPI-4.0_64bit"/>
      <remove name="vbhtm-ISAPI-4.0_32bit"/>
      <remove name="vbhtm-Integrated-4.0"/>
      <remove name="cshtml-ISAPI-4.0_64bit"/>
      <remove name="cshtml-ISAPI-4.0_32bit"/>
      <remove name="cshtml-Integrated-4.0"/>
      <remove name="cshtm-ISAPI-4.0_64bit"/>
      <remove name="cshtm-ISAPI-4.0_32bit"/>
      <remove name="cshtm-Integrated-4.0"/>
      <add name="NFinalHandlerFactory" verb="*" path="*.htm" type="NFinal.Handler.HandlerFactory" preCondition="integratedMode"/>
    </handlers>
    <modules>
      <remove name="RoleManager"/>
      <remove name="Profile"/>
      <remove name="FormsAuthentication"/>
      <remove name="FileAuthorization"/>
      <remove name="AnonymousIdentification"/>
      <remove name="OutputCache"/>
      <remove name="ScriptModule-4.0"/>
      <remove name="ServiceModel-4.0"/>
      <remove name="Session"/>
      <remove name="UrlAuthorization"/>
      <remove name="UrlMappingsModule"/>
      <remove name="UrlRoutingModule-4.0"/>
      <remove name="WindowsAuthentication"/>
      <add name="ModuleRewriter" type="NFinal.URLRewriter.ModuleRewriter"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Powered-By" value="PHP/5.3.28"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>