* {
    margin:0;
    padding:0;
    border:0;
}
body {
    text-align:center;
    font-size:32px;
    color:white;
}
header {
    width:100%;
    background-color:red;
    height:40px;
    position:absolute;
    left:0;
    top:0;
}
article {
    width:100%;
    background-color:green;
    position:absolute;
    top:40px;
    bottom:40px;
    overflow-y: hidden;
    overflow-x: hidden;
}
footer {
    width:100%;
    background-color:blue;
    height:40px;
    position:absolute;
    left:0;
    bottom:0;
}
